<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.2" targetFramework="net451" />
  <package id="Catel.Core" version="4.1.0" targetFramework="net451" />
  <package id="Catel.Extensions.Prism5" version="4.1.0" targetFramework="net451" />
  <package id="Catel.MVVM" version="4.1.0" targetFramework="net451" />
  <package id="CommonServiceLocator" version="1.2" targetFramework="net451" />
  <package id="Extended.Wpf.Toolkit" version="2.4" targetFramework="net451" />
  <package id="Fluent.Ribbon" version="3.3.0" targetFramework="net451" />
  <package id="Prism" version="5.0.0" targetFramework="net451" />
  <package id="Prism.Composition" version="5.0.0" targetFramework="net451" />
  <package id="Prism.Interactivity" version="5.0.0" targetFramework="net451" />
  <package id="Prism.Mvvm" version="1.1.1" targetFramework="net451" />
  <package id="Prism.PubSubEvents" version="1.1.2" targetFramework="net451" />
  <package id="Roslyn.Compilers.Common" version="1.2.20906.2" targetFramework="net451" />
  <package id="Roslyn.Compilers.CSharp" version="1.2.20906.2" targetFramework="net451" />
  <package id="Roslyn.Services.Common" version="1.2.20906.2" targetFramework="net451" />
  <package id="Roslyn.Services.CSharp" version="1.2.20906.2" targetFramework="net451" />
  <package id="WpfLocalizeExtension" version="2.3" targetFramework="net451" />
  <package id="XAMLMarkupExtensions" version="1.2" targetFramework="net451" />
</packages>