<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Metaseed.Core" version="2.0.8.14" targetFramework="net451" />
  <package id="Catel.Core" version="4.1.0" targetFramework="net451" />
  <package id="Catel.Extensions.Controls" version="4.1.0" targetFramework="net451" />
  <package id="Catel.Extensions.Prism5" version="4.1.0" targetFramework="net451" />
  <package id="Catel.MVVM" version="4.1.0" targetFramework="net451" />
  <package id="CommonServiceLocator" version="1.2" targetFramework="net451" />
  <package id="CreateNewNuGetPackageFromProjectAfterEachBuild" version="1.8.5" targetFramework="net451" developmentDependency="true" />
  <package id="Fody" version="1.20.0.0" targetFramework="net451" developmentDependency="true" />
  <package id="ModuleInit.Fody" version="1.5.5.0" targetFramework="net451" developmentDependency="true" />
  <package id="Prism" version="5.0.0" targetFramework="net451" />
  <package id="Prism.Composition" version="5.0.0" targetFramework="net451" />
  <package id="Prism.Interactivity" version="5.0.0" targetFramework="net451" />
  <package id="Prism.Mvvm" version="1.1.1" targetFramework="net451" />
  <package id="Prism.PubSubEvents" version="1.1.2" targetFramework="net451" />
  <package id="WpfLocalizeExtension" version="2.3" targetFramework="net451" />
  <package id="XAMLMarkupExtensions" version="1.2" targetFramework="net451" />
</packages>